# sample input file for fsw_dw.x
[Options]
resname=	HL0.1313313552.dat
txtasci=	none
npoints=	16384
gravity=	1.
surface=	0.0
transfl=	1.0
transfu=	0.0
cfl_num=	0.25
skip_st=	10
timesim=	10.0
n_poles=	51
